body
{
    color: chocolate;
    text-align: center;
    font-family: "Arial";
}

#containter
{
    width: 70%;
    padding: 1cm;
    text-align: center;
    border: 1px solid darkblue;
    margin: auto;

}

#cabecera
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    text-align: left;
    border: 1px solid darkorchid;
}